VITE_SUPABASE_URL=https://zobhwpxgpyylgzxyksyz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvYmh3cHhncHl5bGd6eHlrc3l6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3NDA3NTksImV4cCI6MjA5MDMxNjc1OX0.je2xxcUBNpr8fGFNakAAvmb7Mx_aVgbEQAA8b5zMZVc
VITE_GEMINI_API_KEY=AIzaSyDLV2vUfELB6qI5RQcu3qfuVNdiMsBdRnk